<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.337279642634-r1gnav29vf2t7hpv25u5k6g4k0hvqh0l</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-337279642634-ios-ba9993885f2cde0ee8c3f3</string>
			</array>
		</dict>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>GIDClientID</key>
	<string>337279642634-32p729tvo3b4o7ahfb8skn2n39k5m6lh.apps.googleusercontent.com</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
        <string>App provides Voice over IP services</string>
	</array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Se necesita tu ubicación para mostrar tu posición en el mapa.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Se necesita para poder hablar con Bufebot Speech to Speech</string>
</dict>
</plist>



