<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.178993694439-fvss3daue1hsa51h2ugi82pknkqjuj37</string>
				<string>178993694439-fvss3daue1hsa51h2ugi82pknkqjuj37.apps.googleusercontent.com</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
